@import "../style.less";

.strm-body {
    width: 100%;
    height: calc(~"100vh - "@streaming-header-height);
    // max-height: 100%;
    // flex-grow: 1;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.strm-content {
    width: 100%;
    .vertical-center;
    padding-left: @streaming-side-width;
}

.strm-content-container {
    width: 100%;
    padding: @padding-sm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
